body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(247, 156, 156);
}

#cronometro{
    color: rgb(80, 153, 7);
    font-family: 'Times New Roman', Times, serif;
    font-size: 90px;
    font-weight: bolder;
}

